*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: rgba(229, 84, 115, 0.1);
}
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.navbar-title{
    font-size: 36px;
    font-weight: 800;
}
.navbar-title span{
    color: #E55473  ;
}
ul{
    display: flex;
}
ul li{
    list-style: none;
    margin-left: 20px;
    
}
ul li a{
    text-decoration: none;
    color: #000;
    font-size: 18px;
    font-weight: 600;
}
.header-container{
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: 10rem; */

}
.header-content{
    max-width: 408px;
}
.content-title{
    margin-bottom: 20px;
}
.content-description{
    margin-bottom: 20px;
    font-size: 14px;
    color: #585858;
}
.btn-primary{
    padding: 15px 20px;
    border: none;
    border-radius: 8px;
    background-color: #E55473;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}
.header-img-container>img{
    height: 40vw;
}

.feature-contain{
    max-width: 394px;
    text-align: center;
    margin: 3.5rem auto;
}
.feature-flower-container{
    max-width: 1140px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.card{
    height: 320px;
    width: 320px;
    border-radius: 50% 50% 0 0;
    display: flex;
    justify-content: center;
    align-items: end;
    margin: 0 auto;
}
.card img{
    /* width: 100%; */
    height: 100%;
}
.card-title-container{
    width: 100%;
}
.card-title{
    text-align: center;
    margin-top: 10px;
    text-decoration: underline;
    font-size: 1.3rem;
}
/* background-color */
.bg-first{
    background-color: rgba(229, 84, 115, 0.1);
}
.bg-second{
    background-color: rgba(5, 151, 160, 0.15)
}
.bg-third{
    background-color: rgba(71, 125, 17, 0.15);
}
.delivery-and-support-section{
    max-width: 1140px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    text-align: center;
    margin: 4rem auto;
    background-color: rgba(39, 39, 39, 0.05);
    padding: 4rem 0;
}
.hot-deal{
    width: 100%;
    background-color: rgba(229, 84, 115, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    padding: 4rem 0;
}
.hot-deal-content{
    max-width: 450px;
}
.hot-title{
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 20px;
}
.hot-title span{
    color: #E55473;
}

.instagram-section{
    max-width: 1140px;
    margin: 4rem auto;
}
.insta-sect-title{
    max-width: 600px;
    text-align: center;
    margin: 2rem auto;
}
.insta-img-section{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.insta-img-section img{
    height: 245px;
    width: 220px;
}

.section-bg{
    max-width: 1140px;
    margin: 4rem auto;
    background-image: url(Rectangle\ 9.png);
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.get-deal{
    text-align: center;
    margin-bottom: 2rem;
}
.search-part input{
    height: 3.2rem;
    width: 20rem;
    border: none;
    border-radius: 8px;
    outline: none;
    font-size: 1.2rem;
    text-align: center;
    color: #E55473;
    font-weight: 600;
}
.search-part input::placeholder{
    text-align: center;
}
.search-part input:focus{
    outline: 2px solid #E55473;
}
/* lets make it responsive */

@media screen and (max-width: 576px) {
    .navbar{
        flex-direction: column;
    }
    .header-container{
        flex-direction: column-reverse;
    }
    .header-content{
        text-align: center;
        margin-top: 30px;
    }
    .feature-flower-container{
        grid-template-columns: repeat(1,1fr);
        margin-bottom: 4rem;
    }
    .flower-card{
        margin-bottom: 4rem;
    }
    .card{
        margin: 0 auto;
    }
    .delivery-and-support-section{
        grid-template-columns: repeat(1,1fr);
    }
    .hot-deal{
        flex-direction: column-reverse;
        text-align: center;
    }
    .insta-img-section{
        grid-template-columns: repeat(1,1fr);
    }
    .insta-img-section img{
        margin: 2rem auto;
    }
}